<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myprice.mapper.auto.ShopBranchMapper">
  <resultMap id="BaseResultMap" type="com.myprice.model.auto.ShopBranch">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="hotline" jdbcType="VARCHAR" property="hotline" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="cookie" jdbcType="VARCHAR" property="cookie" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	address,
       	  	      	hotline,
       	  	      	shop_id,
       	  	      	store_id,
       	  	      	branch_name,
       	  	      	status,
       	  	      	is_default,
       	  	    	  	cookie
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.myprice.model.auto.ShopBranchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from u_shop_branch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_shop_branch
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_shop_branch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myprice.model.auto.ShopBranchExample">
    delete from u_shop_branch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.myprice.model.auto.ShopBranch">
    insert into u_shop_branch (
      	  	       id,
       	  	       address,
       	  	       hotline,
       	  	       shop_id,
       	  	       store_id,
       	  	       branch_name,
       	  	       status,
       	  	       is_default,
       	  	    	  cookie
       	    )
    values (
	  	  	      	#{id,jdbcType=INTEGER},
       	  	      	#{address,jdbcType=VARCHAR},
       	  	      	#{hotline,jdbcType=VARCHAR},
       	  	      	#{shopId,jdbcType=INTEGER},
       	  	      	#{storeId,jdbcType=VARCHAR},
       	  	      	#{branchName,jdbcType=VARCHAR},
       	  	      	#{status,jdbcType=INTEGER},
       	  	      	#{isDefault,jdbcType=INTEGER},
       	  	    	  #{cookie,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.myprice.model.auto.ShopBranch">
    insert into u_shop_branch
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="address != null">
        address,
      </if>
         
      <if test="hotline != null">
        hotline,
      </if>
         
      <if test="shopId != null">
        shop_id,
      </if>
         
      <if test="storeId != null">
        store_id,
      </if>
         
      <if test="branchName != null">
        branch_name,
      </if>
         
      <if test="status != null">
        status,
      </if>
         
      <if test="isDefault != null">
        is_default,
      </if>
         
      <if test="cookie != null">
        cookie,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
          <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
          <if test="hotline != null">
        #{hotline,jdbcType=VARCHAR},
      </if>
          <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
          <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
          <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
          <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
          <if test="isDefault != null">
        #{isDefault,jdbcType=INTEGER},
      </if>
          <if test="cookie != null">
        #{cookie,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.myprice.model.auto.ShopBranchExample" resultType="java.lang.Long">
    select count(*) from u_shop_branch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update u_shop_branch
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
          <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
          <if test="record.hotline != null">
        hotline = #{record.hotline,jdbcType=VARCHAR},
      </if>
          <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
          <if test="record.storeId != null">
        store_id = #{record.storeId,jdbcType=VARCHAR},
      </if>
          <if test="record.branchName != null">
        branch_name = #{record.branchName,jdbcType=VARCHAR},
      </if>
          <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
          <if test="record.isDefault != null">
        is_default = #{record.isDefault,jdbcType=INTEGER},
      </if>
          <if test="record.cookie != null">
        cookie = #{record.cookie,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update u_shop_branch
    set
            	     	 
    	 id = #{record.id,jdbcType=INTEGER},
    	         	     	 
    	 address = #{record.address,jdbcType=VARCHAR},
    	         	     	 
    	 hotline = #{record.hotline,jdbcType=VARCHAR},
    	         	     	 
    	 shop_id = #{record.shopId,jdbcType=INTEGER},
    	         	     	 
    	 store_id = #{record.storeId,jdbcType=VARCHAR},
    	         	     	 
    	 branch_name = #{record.branchName,jdbcType=VARCHAR},
    	         	     	 
    	 status = #{record.status,jdbcType=INTEGER},
    	         	     	 
    	 is_default = #{record.isDefault,jdbcType=INTEGER},
    	         	     	 
    	 cookie = #{record.cookie,jdbcType=VARCHAR}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.myprice.model.auto.ShopBranch">
    update u_shop_branch
    <set>
                          
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
                      
      <if test="hotline != null">
        hotline = #{hotline,jdbcType=VARCHAR},
      </if>
                      
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
                      
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
                      
      <if test="branchName != null">
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
                      
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
                      
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
                      
      <if test="cookie != null">
        cookie = #{cookie,jdbcType=VARCHAR},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=INTEGER}
                                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.myprice.model.auto.ShopBranch">
    update u_shop_branch
    set 
    		 		 	  	  
		address = #{address,jdbcType=VARCHAR},
	  	 		 	  	  
		hotline = #{hotline,jdbcType=VARCHAR},
	  	 		 	  	  
		shop_id = #{shopId,jdbcType=INTEGER},
	  	 		 	  	  
		store_id = #{storeId,jdbcType=VARCHAR},
	  	 		 	  	  
		branch_name = #{branchName,jdbcType=VARCHAR},
	  	 		 	  	  
		status = #{status,jdbcType=INTEGER},
	  	 		 	  	  
		is_default = #{isDefault,jdbcType=INTEGER},
	  	 		 	  		
		cookie = #{cookie,jdbcType=VARCHAR}
	  	 		
    where 
            
    id = #{id,jdbcType=INTEGER}
                                                                            
  </update>
  
                                                 
</mapper>